html {
  color: #F8F9F9;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #161515;
}

main {
  margin-top: 6em;
}

input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: .01em solid #808B96;
  outline: 0;
  font-size: 1.5em;
  height: 2.7em;
  color: inherit;
}

button {
  display: block;
  width: 98%;
  font-size: 1.7em;
  height: 1.7em;
  background: black;
  color: inherit;
  margin: 1.7em auto;
  outline: 0;
  border: .02em solid #808B96;
  border-radius: .2em;
}
